<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rk.gbp-watch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/node</string>
        <string>/Users/ryukando/local-biz-demos/scripts/gbp-watch/run.js</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Day</key>
        <integer>15</integer>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/ryukando/local-biz-demos</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/ryukando</string>
        <key>LANG</key>
        <string>ja_JP.UTF-8</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/ryukando/logs/gbp-watch-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ryukando/logs/gbp-watch-launchd-error.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
